/* General */

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../../assets/fonts/Pretendard-Bold.ttf');
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('../../assets/fonts/Pretendard-ExtraBold.ttf');
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../../assets/fonts/Pretendard-Regular.ttf');
}

@font-face {
    font-family: 'Pretendard-Variable';
    src: url('../../assets/fonts/Pretendard-Variable.ttf');
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('../../assets/fonts/Pretendard-SemiBold.ttf');
}

@font-face {
    font-family: 'Industry-Bold';
    src: url('../../assets/fonts/Industry-Bold.ttf');
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('../../assets/fonts/SUIT-Regular.ttf');
}

:root {
    --text-color: #ccc;
    --text-color-disabled: #888;

    --dark: #303030;
    --darker: #202020;
    --darkerer: #151515;
    --darkererer: #101010;

    --light: #bbb;
    --lighter: #ccc;
    --lighterer: #ddd;
    --lightererer: #eee;

    --accent: #f4d259;
}

html {
    background-color: #000;
}

body {
    background-color: #fff;

    position: relative;
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar-track:vertical {
    background-color: rgba(0, 0, 0, 0);
    border-left: 1px solid var(--dark);
    /* box-sizing: border-box; */
}

*::-webkit-scrollbar-track:horizontal {
    background-color: rgba(0, 0, 0, 0);
    border-top: 1px solid var(--dark);
    /* box-sizing: border-box; */
}

*::-webkit-scrollbar {
    width: 16px;
    background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--dark);
    background-clip: content-box;
}