/* General */

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../../assets/fonts/Pretendard-Bold.ttf');
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('../../assets/fonts/Pretendard-ExtraBold.ttf');
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../../assets/fonts/Pretendard-Regular.ttf');
}

@font-face {
    font-family: 'Pretendard-Variable';
    src: url('../../assets/fonts/Pretendard-Variable.ttf');
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('../../assets/fonts/Pretendard-SemiBold.ttf');
}

@font-face {
    font-family: 'Industry-Bold';
    src: url('../../assets/fonts/Industry-Bold.ttf');
}

:root {
    --text-color: #ccc;
}

html {
    background-color: #fff;
}

body {
    background-color: #fff;

    margin: 0;
    padding: 0;
}